# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
*.venv

# Django migrations
*/migrations/*.pyc
*/migrations/*.py
*/migrations/__pycache__/

# Database files
*.sqlite3

# Environment variables
.env

# Django static and media files
staticfiles/
media/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
